@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap')
layer(base);
@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-color-t: colorT 9s step-end infinite;
  --animate-color-i: colorI 9s step-end infinite;
  --animate-color-l: colorL 9s step-end infinite;
  --animate-blink: blink 0.75s step-end infinite;

  --color-main: var(--main);
  --color-main-blue: var(--main-blue);
  --color-main-orange: var(--main-orange);
  --color-main-pink: var(--main-pink);
  --color-main-green: var(--main-green);
  --color-main-purple: var(--main-purple);
  --color-secondary-bg: var(--secondary-bg);
  --color-overlay: var(--overlay);
  --color-bg: var(--bg);
  --color-bw: var(--bw);
  --color-blank: var(--blank);
  --color-text: var(--text);
  --color-mtext: var(--mtext);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-ring-offset: var(--ring-offset);
  --color-secondary-black: #212121;

  --radius-base: 5px;

  --shadow-shadow: var(--shadow);

  --translate-box-shadow-x: 4px;
  --translate-box-shadow-y: 4px;
  --translate-reverse-box-shadow-x: -4px;
  --translate-reverse-box-shadow-y: -4px;

  --font-overpass: var(--font-overpass);
  --font-tactic-sans: var(--font-tactic-sans);

  --font-weight-base: 500;
  --font-weight-heading: 700;

  @keyframes colorT {
    0%,
    19.99% {
      color: var(--main-blue);
    }
    20%,
    39.99% {
      color: var(--main-orange);
    }
    40%,
    59.99% {
      color: var(--main-pink);
    }
    60%,
    79.99% {
      color: var(--main-green);
    }
    80%,
    100% {
      color: var(--main-purple);
    }
  }
  @keyframes colorI {
    0%,
    19.99% {
      color: var(--main-purple);
    }
    20%,
    39.99% {
      color: var(--main-green);
    }
    40%,
    59.99% {
      color: var(--main-orange);
    }
    60%,
    79.99% {
      color: var(--main-pink);
    }
    80%,
    100% {
      color: var(--main-blue);
    }
  }
  @keyframes colorL {
    0%,
    19.99% {
      color: var(--main-orange);
    }
    20%,
    39.99% {
      color: var(--main-pink);
    }
    40%,
    59.99% {
      color: var(--main-blue);
    }
    60%,
    79.99% {
      color: var(--main-purple);
    }
    80%,
    100% {
      color: var(--main-green);
    }
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --main: #ffdc58;
    --main-blue: #88aaee;
    --main-orange: #fd9745;
    --main-pink: #ff6b6b;
    --main-green: #a3e636;
    --main-purple: #a388ee;
    --overlay: rgba(0, 0, 0, 0.8);
    --secondary-bg: #fffcfa;

    --bg: #fef2e8;
    --bw: #fff;
    --blank: #000;
    --border: #000;
    --text: #000;
    --mtext: #000;
    --ring: #000;
    --ring-offset: #fff;

    --border-radius: 5px;
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --reverse-box-shadow-x: -4px;
    --reverse-box-shadow-y: -4px;
    --base-font-weight: 500;
    --heading-font-weight: 700;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);

    --font-overpass: "Overpass Mono", serif;
  }

  .dark {
    --bg: #374151;
    --bw: #212121;
    --blank: #fff;
    --border: #000;
    --text: #e6e6e6;
    --mtext: #000;
    --ring: #fff;
    --ring-offset: #000;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }
}

@layer utilities {
  body {
    background: var(--bg);
    font-family: var(--font-overpass);
    padding: 1rem 2rem !important;
    @media (width >= 64rem) {
      padding: 1rem 9rem !important;
    }
  }
}

@layer base {
  .text-shadow {
    text-shadow: 4px 4px 0px #000000, 1px 1px 0 #000, -1px -1px 0 #000,
      1px -1px 0 #000, -1px 1px 0 #000, 0 1px 0 #000, 1px 0 0 #000,
      0 -1px 0 #000, -1px 0 0 #000;
  }
}
